body {
    background-color: #E9F7CA;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 0px 140px 0px 140px;
}

h1 {
    color: #F9A03F;
    font-weight: 800;
    display: inline-block;
    font-family: 'Alfa Slab One', cursive;
    margin: 0;
    padding: 4vh;
}
h2 {
    color: #F9A03F;
    font-family: 'Alfa Slab One', cursive;
    margin: 0;
    padding: 1vh;
}
h3 {
    color: #F7D488;
    font-family: 'Alfa Slab One', cursive;
    margin: 0;
    padding-bottom: 1vh;
}
ol {
    background:
    url(../img/hdCoque.jpg)    /* image */
    top center  /* position / size */
    no-repeat                /* repeat */
    fixed                    /* attachment */
    padding-box              /* origin */
    content-box   ;           /* clip */
    background-size: contain;
    opacity: 0.65;
}

ol li {    
    color: #ffffff;
    font-weight: 600;
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 3.5vh;
}

div.scroll{
    height: 70VH;
}
div.lorem {
    border-style: solid;  
    border-radius: 5px;
    background-color: #e3f3c0;
    color: #F9A03F;
    margin-top: 30px;
}
p.lorem {
    text-indent: 5vh;
    color: #F9A03F;
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: large;
    letter-spacing: 0.4vh;
    word-spacing: 0.03vh;
    line-height: 3vh;
    text-align: left;
    padding: 0vh 5vh 0vh 5vh;
    
}
h1.borde {
    border-style: solid;
    border-width: 0px 0px 0px 10px;

}